@import "tailwindcss";
@plugin "daisyui";

* {
  font: 400 14px/1.5 "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  @apply bg-base-100 text-base-content;
}
textarea{
  color: rgba(255, 255, 255, 0);
}
@plugin "daisyui/theme" {
  name: "wireframe";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.046 192.524);
  --color-base-200: oklch(38% 0.063 188.416);
  --color-base-300: oklch(43% 0.078 188.216);
  --color-base-content: oklch(95% 0.051 180.801);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(44% 0.043 257.281);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(59% 0.145 163.225);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(38% 0.063 188.416);
  --color-neutral-content: oklch(98% 0.014 180.72);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
.split {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.split > div {
  float: left;
  height: 100%;
}

.gutter {
  background-color: var(--color-base-300/50);
  background-repeat: no-repeat;
  background-position: 50%;
  min-width: 8px;
}

.gutter.gutter-horizontal {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
  cursor: col-resize;
  min-width: 8px;
}

.custom-max-h {
  max-height: calc(100vh - 5.6rem);
  overflow-y: scroll;
}
